<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <img src="./images/Personal_Photo.jpg" alt="Jiaxing" width="300" />
      <h4>Jiaxing Li</h4>
      <h5>I got a bachelor degree in software engineering, and I had worked as a back-end developer and project manager pingan bank for 4 years. I'm studying software engineering technology artificial intelligence in centennial college currently.</h5>
      <a  href="./Assets/CV_JIAXING.pdf">cv</a>
    </div>
  </main>

  <!--Bottom nav-->
 
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>