<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">

      <img src="./images/Android_Logo.jpg" alt="Android Applications" width="300" />
      <h4>Android Applications</h4>
      <h5>I developed several android applications in internship.</h5>

      <br>
      <img src="./images/Pingan_Logo.jpg" alt="Pingan Bank" width="300" />
      <h4>Financial Systems</h4>
      <h5>I took charge of two Financial Systems in Pingan Bank.</h5>

      <br>
      <img src="./images/JS_Logo.jpg" alt="Web Applications" width="300" />
      <h4>Web Applications</h4>
      <h5>I began to study web application.</h5>

    </div>
  </main>

  <!--Bottom nav-->
 
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>