<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <table border="3">
        <tr>
          <th>Front-end:</th>
          <td>JavaScript</td>
        </tr>
        <tr>
        <th>Back-end:</th>
        <td>Python</td>
        </tr>
      </table>
    </div>
  </main>

  <!--Bottom nav-->
 
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>